html { font-size: 100%; }
.ui-mobile, .ui-mobile body { height: 99.9%; }
body, input, select, textarea, button, .ui-btn { font-size: 1em; line-height: 1.3; font-family: sans-serif; }
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper { background-color: rgb(249, 249, 249); border-color: rgb(187, 187, 187); color: rgb(51, 51, 51); text-shadow: rgb(243, 243, 243) 0px 1px 0px; }
.ui-mobile-viewport { margin: 0px; overflow-x: visible; text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper, .ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit { background-color: transparent; font-weight: normal; text-shadow: none; }
body.ui-mobile-viewport, div.ui-mobile-viewport { overflow-x: hidden; }
div { backface-visibility: hidden; }
.ui-mobile fieldset, .ui-page { padding: 0px; margin: 0px; }
.ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page { top: 0px; left: 0px; width: 100%; min-height: 100%; position: absolute; display: none; border: 0px; }
.ui-page { outline: 0px; backface-visibility: hidden; }
.ui-page-header-fixed { padding-top: 2.8125em; }
.MMS-page .ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper { text-shadow: none !important; }
.MMS-page { line-height: normal; }
.ui-mobile .ui-page-active { display: block; overflow-y: visible; overflow-x: hidden; }
.ui-mobile .ui-page { min-height: 420px; }
.ui-header, .ui-footer { border-width: 1px 0px; border-style: solid; position: relative; }
.ui-header-fixed, .ui-footer-fixed { left: 0px; right: 0px; width: 100%; position: fixed; z-index: 1000; }
.ui-header-fixed { top: -1px; padding-top: 1px; }
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit { background-color: rgb(233, 233, 233); border-color: rgb(221, 221, 221); color: rgb(51, 51, 51); text-shadow: rgb(238, 238, 238) 0px 1px 0px; font-weight: 700; }
.MMS-page .header-background { background-color: #aa5214; border-color: rgb(0, 37, 122); height: 56px; padding: 20px 0px 0px; }
.ui-header .ui-title, .ui-footer .ui-title { font-size: 1em; min-height: 1.1em; text-align: center; display: block; margin: 0px 30%; padding: 0.7em 0px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0px !important; }
.MMS-page .ui-title, .MMS-page .ui-content { margin: 0px; padding: 0px !important; }
.MMS-page .header-title-home {  font-size: 18px; color: rgb(255, 255, 255); text-align: center; }
.MMS-page .header-title-light { font-size: 14px; color: rgb(255, 255, 255); text-align: center; padding-top: 2px; }
.ui-content { border-width: 0px; overflow-y: visible; overflow-x: hidden; padding: 1em; }
.top-nav { padding: 0px; }
.top-alert-background { padding: 18px 33px 6px; background-color: rgb(255, 245, 195); height: 40px; cursor: pointer; text-align: center; }
.top-alert {  font-size: 14px; color: rgb(85, 85, 85); }
.top-vertical-align { vertical-align: top; }
.underline, .underline a { text-decoration: underline; }
.white-background { background-color: rgb(255, 255, 255); }
.MMS-page .order-funds { height: 68px; }
.no-underline, .no-underline a { text-decoration: none; }
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a { color: black; font-weight: 700; }
.ui-page-theme-a .order-funds a, .ui-page-theme-a .header-background a, .ui-mobile label, div.ui-controlgroup-label { font-weight: normal; }
.MMS-page .order-coffee-inner { width: 100%; position: absolute; height: auto; box-shadow: rgb(90, 90, 90) 0px 4px 7px -2px; margin-bottom: 0px; }
.float-left { float: left; }
.grey-bar-width7px { width: 7px; }
.grey-bar-height64px { height: 64px; }
.inner-title {  font-size: 16px; color: red; }
.MMS-page .order-funds .inner-title { padding: 24px 0px 0px 24px; }
.grey-bar { background-color: rgb(216, 216, 216) !important; }
.MMS-page .grey-bar-12px { height: 12px; }
.MMS-page #coffee-list .inner-title { padding: 13px 0px 5px 31px; }
.ui-listview, .ui-listview > li { margin: 0px; padding: 0px; list-style: none; }
.float-clear { clear: both; }
.ui-content .ui-listview, .ui-panel-inner > .ui-listview { margin: -1em; }
.MMS-page .ui-listview { margin: 0px; }
.ui-listview > li { display: block; position: relative; overflow: visible; }
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a { background-color: rgb(255, 255, 255); border-color: rgb(221, 221, 221); color: rgb(51, 51, 51); text-shadow: rgb(243, 243, 243) 0px 1px 0px; }
.ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn { margin: 0px; display: block; position: relative; text-align: left; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; border-width: 1px 0px 0px; border-style: solid; }
.ui-listview > .ui-li-static { padding: 0.7em 1em; }
.ui-listview > li.ui-first-child, .ui-listview > li.ui-first-child > a.ui-btn { border-top-right-radius: inherit; border-top-left-radius: inherit; }
#coffee-options li {  font-size: 18px; color: rgb(106, 106, 106); margin: 0px; padding: 0px; cursor: pointer; border: 0px; }
.MMS-page .coffee-items-hr { padding: 0px; display: block; height: 1px; background: linear-gradient(rgb(151, 151, 151), rgb(151, 151, 151)); }
.coffee-options-item { display: flex; }
.flex-div { display: flex; align-items: center; }
.coffee-options-item-text { -webkit-box-ordinal-group: 1; order: 1; -webkit-box-flex: 1; flex: 1 1 0%; }
div.coffee-options-item-text { font-weight:normal;width: 180px; word-wrap: break-word; white-space: normal; padding: 21px 15px 16px 30px; }
.coffee-text-content { width: calc(100% - 15px); padding-right: 7px; }
.center-text-align { text-align: center; }
.list-options-text { -webkit-box-ordinal-group: 2; order: 2; display: flex; align-items: stretch; }
div.coffee-list-hide-options { width: 0px; transition: all 0s linear; }
#coffee-options li div.list-options-text {  font-size: 16px; color: rgb(255, 255, 255); text-shadow: none; }
.ui-listview > li.ui-last-child, .ui-listview > li.ui-last-child > a.ui-btn { border-bottom-right-radius: inherit; border-bottom-left-radius: inherit; }
.ui-listview > .ui-li-static.ui-last-child, .ui-listview > .ui-li-divider.ui-last-child, .ui-listview > li.ui-last-child > a.ui-btn { border-bottom-width: 1px; }
ul#coffee-options .ui-li-static.ui-last-child { border-bottom-width: 0px; }
.ui-btn-left, .ui-btn-right { position: absolute; top: 0.24em; }
.ui-btn-left { left: 0.4em; }
.ui-header .ui-btn-left, .ui-header .ui-btn-right { font-size: 12.5px; }
.ui-header .ui-btn-left, .ui-header .ui-btn-right, .ui-btn-left > [class*="ui-"], .ui-btn-right > [class*="ui-"] { margin: 0px; }
.ui-header-fixed .ui-btn-left, .ui-header-fixed .ui-btn-right { margin-top: 1px; }
.MMS-page .ui-btn-left { left: 0px; }
.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited { color: rgb(51, 136, 204); }
.MMS-page .header-background .inner-link {  font-size: 15px; color: rgb(255, 255, 255); }
.MMS-page .header-background .inner-link-left { padding: 24px 0px 0px 14px; margin: 0px; }
.MMS-page .header-title {  font-size: 18px; color: rgb(255, 255, 255); text-align: center; padding-top: 20px !important; }
.ui-btn-right { right: 0.4em; }
.MMS-page .ui-btn-right { right: 0px; }
.ui-page-theme-a a:hover, html .ui-bar-a a:hover, html .ui-body-a a:hover, html body .ui-group-theme-a a:hover { color: rgb(0, 85, 153); }
.MMS-page .header-background .inner-link-right { padding: 24px 14px 0px 0px; }
.confirmation-top-inner { height: 60px; }
.confirmation-top-bottom { height: 152px; margin: 0px 10px; }
.transaction-message {  font-size: 17px; color: rgb(76, 175, 80); padding: 53px 0px 0px; text-align: center; }
.confirmation-number { padding-top: 12px; text-align: center; line-height: 1; }
.confirmation-from-selected-drinks-avilable-balance {  font-size: 16px; color: rgb(106, 106, 106); padding-top: 12px; }
.confirmation-circle-image { padding-top: 88px; position: absolute; top: 0px; left: 0px; right: 0px; }
.circle-green-image { display: block; background-size: 100%; background-repeat: no-repeat; margin: 0px auto; }
.MMS-page .grey-bar-20px { height: 20px; }
.MMS-page .coffee-order-confirm { height: 64px; box-shadow: rgb(90, 90, 90) 0px 4px 7px -2px; margin-bottom: 0px; }
.MMS-page .coffee-order-confirm-inner { width: 100%; position: absolute; height: auto; }
.grey-bar { background-color: rgb(51, 51, 51); }
.MMS-page .coffee-order-confirm .inner-title { padding: 24px 0px 0px 20px; }
.ui-corner-all { border-radius: 0.3125em; }
.ui-btn-corner-all, .ui-corner-all { -webkit-background-clip: padding; background-clip: padding-box; }
.ui-body-a { border-width: 1px; border-style: solid; }
.ui-loader { display: none; z-index: 9999999; position: fixed; top: 50%; left: 50%; border: 0px; }
.ui-loader-default { background: 0px center; opacity: 0.18; width: 2.875em; height: 2.875em; margin-left: -1.4375em; margin-top: -1.4375em; }
.ui-icon-loading { }
.ui-loader .ui-icon-loading { background-color: rgb(0, 0, 0); display: block; margin: 0px; width: 2.75em; height: 2.75em; padding: 0.0625em; border-radius: 2.25em; }
.ui-loader-default h1 { font-size: 0px; width: 0px; height: 0px; overflow: hidden; }